<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div>
      <%= flash["notice"] %>
    </div>
    <div>
      <a href="/">Home</a>
      <%if @current_user%>
           Glad you're here, <%=@current_user["username"]%> |
           <a href="/logout" class="btn btn-default">Logout</a>
         <%else%>
           <a href="/login" class="btn btn-default">Login</a> |
           <a href="/users/new" class="btn btn-default">Signup</a>
         <%end%>
      
    </div>

    <%= yield %>
  </body>
</html>
